.card{
    position: relative;
    overflow: hidden;
    height: 90px;
    width: 100px;
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26px 0 26px 0;
    transition: all 1s ease-in-out;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(0deg, rgba(1,26,34, .89), rgba(1,26,34, .89));
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
}

.title h4{
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.desc{
    height: 0;
    padding: 20px 50px 30px 50px;
    background: #fff;
    transition: all 1s ease-in-out;
}

.desc h5{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

.desc p{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.tech-stack{
    padding: 20px 0 0 50px;
}

.corner{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #189ab4;
    border-right: 100px solid transparent;
}

.right-top-corner{
    left: auto;
    right: 0;
    transform: rotate(90deg);
}

.left-bottom-corner{
    top: auto;
    bottom: 0;
    transform: rotate(-90deg);
}

.card:hover{
    box-shadow: 0 0 10px 1px #5adbe8;
    height: 300px;
    width: 440px;
}

.card:hover .title, .card:hover .desc{
height: 50%;
}

.card:hover .title h4{
    opacity: 1;
    transform: scale(1);
}

